//====================================================================================================

.page {
   margin: 0px auto;
   position: relative;
   width: rem(1200);
   height: 200px;
   box-shadow: rem(1) rem(10) rem(10)rgba(185, 126, 71, 0.212);

}

.page img {}


.weather {
   align-items: center;


   &__container {}

   &__body {
      display: flex;
      flex-direction: row;
      justify-content: end;
      gap: rem(40);
   }

   &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
   }

   &__main {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: rem(40);
      margin-right: rem(30);
   }

   &__city {
      font-size: rem(40);
   }

   &__status {
      font-size: rem(35);
   }

   &__icon {
      align-items: center;
   }

   &__temp {
      font-size: rem(40);
   }

   &__feels-like {
      font-size: rem(25);
   }
}





//====================================================================================================