//====================================================================================================

.page {
  
   margin: 0px auto;
   position: relative;
   width: rem(1200);
   height: 200px;
   background-color: rgb(62, 74, 95);
}

.page img {
   position: absolute;
   width: 100%;
   border-radius: 50%;
   border: 2px solid silver;
   padding: 5px;
}

//====================================================================================================